(
axes: {
},
actions: {
    "Forward": [[Key(W)]],
    "Backward": [[Key(S)]],
    "Right": [[Key(A)]],
    "Left": [[Key(D)]],
    "Jump": [[Key(Space)]],
    "Sprint": [[Key(LShift)]],
    "UpArrow": [[Key(Up)]],
    "DownArrow": [[Key(Down)]],
    "LeftArrow": [[Key(Left)]],
    "RightArrow": [[Key(Right)]]
},
)
